::-webkit-scrollbar {
    width: 5px;
    background: transparent;

}
::-webkit-scrollbar-track{
    width: 5px;
    
    background: transparent;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    height: 20px;
    background: #1b1515;
}
::-webkit-scrollbar-track-piece{
    background: rgb(82, 80, 80);
}
::-webkit-scrollbar-thumb:hover {
    background: #4b4646;
  }
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #2c3e50, #000000, #423a39, #646c67, #2c3e50);
    transition: background 0.5s;
}
a {
    text-decoration: none;
}
header {
    background-color: transparent;
    font-family: fantasy;
    color: #ecf0f1;
    text-align: center;
    font-size: 6em;
    padding-top: 30px;
    
    
}
.banner{
    background: transparent;
    font-size: x-large;
    width: 50px;
    
}

nav {
    color: #ecf0f1;
    text-align: center;
    padding: 0.5em;
    width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tab {
    display: block;
    margin: 0 10px;
    padding: 10px;
    background-color: #2d2b2b;
    color: #f39c12;
    border: 1px solid #111;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab:hover {
    background-color: #111;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    flex-grow: 1;
}

.tile {
    width: 30%;
    height: 20%;
    margin: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    cursor: pointer;
    text-decoration: none;
    color: #ecf0f1;
    position: relative;
    overflow: hidden;
}

.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ecf0f1; /* Text color that contrasts well with the background */
    font-size: 1.5em; /* Adjust the size as needed */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add a subtle text shadow */
}

.tile:hover {
    transform: scale(1.05);
}

h2 {
    color: #f39c12;
}

h4 {
    font-size: 1.5em;
    color: #f39c12;
    margin: 0px;
}

h1 {
    font-size: 3em;
    color: #f39c12;
    padding: 0;
}

h5{
    font-size: 1em;
    color: #f39c12;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}

footer {
    background-color: #000;
    color: #ecf0f1;
    text-align: center;
    padding: 1em;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
}
pre {
    background-color: #333; /* Dark gray background for code snippets */
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    text-align: left;
    overflow-x: auto;
    align-content: center;
    max-height: 20em;
    min-height: 1em;
    font-size: 0.8em;
    
  }

code {
    display: block;
    white-space: pre;
    text-align: left;
    align-items: center;
  }
.week7 {
    align-items: ;
}
section {
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.text-container {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    margin: 20px;
    color: #d0d0d0;
    background-color: transparent;
    width: 55%;
    margin-bottom: 3em;
    align-content: center;
    justify-content: center;

}
.wide_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.image_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    flex: 1; /* Take up remaining space */
    padding: 20px;
    color: #a4a4a4;
}

.image {
    flex: 1; /* Take up remaining space */
    max-width: 100%; /* Ensure the image doesn't exceed its original size */
    height: auto; /* Maintain aspect ratio */
}
.image_text{
    margin: 7px;
}
a {
    color: #f39c12; /* Change color to your desired color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make text bold */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

a:hover {
    color: #000000; /* Change color on hover */
}